.podcasts-feed > li {
    border-top: solid 1px rgb(216, 216, 216);
    margin: 0;
    padding: 10px 0;
    position: relative;
    display: inline-block;
    width: 100%;
}
/*.news-feed > li:first-child {*/
    /*border-top: none;*/
/*}*/

.tools {
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}

.podcasts-feed > li .media-body:hover .tools{
    display: block;
}

.form-control#time[readonly] {
    display: inline-block;
    cursor: default;
    background-color: #fff;
}
input[type="radio"] {
    display:none;
}

input[type="radio"] + span:before {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input[type="radio"] + span:before {
    content: "\f10c"; /* unchecked */
}

input[type="radio"]:checked + span:before {
    content: "\f05d";; /* check */
}