.podcasts-feed > li {
    border-top: solid 1px rgb(216, 216, 216);
    margin: 0;
    padding: 10px 0;
    position: relative;
    display: inline-block;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .podcasts-feed .media-heading{
        padding-right: 74px;
    }
}

.podcasts-feed > li .media-body:hover .tools{
}

.form-control#time[readonly] {
    display: inline-block;
    cursor: default;
    background-color: #fff;
}
input[type="radio"] {
    display:none;
}

input[type="radio"] + span:before {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input[type="radio"] + span:before {
    content: "\f10c"; /* unchecked */
}

input[type="radio"]:checked + span:before {
    content: "\f05d"; /* check */
}

.ms-container {
    position: relative;
    overflow: hidden;
    background: transparent;
    width: 100%;
}

.ms-container:before {
    content: "";
    position: absolute;
    background: transparent url('../../public/components/multiselect/img/switch.png') no-repeat 50% 50%;
    top: -50%;
    left: -50%;
    height: 200%;
    width: 200%;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.ms-container .ms-selectable, .ms-container .ms-selection {
    background: #fff;
    color: #555555;
    float: none;
    width: 100%;
    padding: 20px 0;
}

.ms-container .ms-selectable .custom-header,
.ms-container .ms-selection .custom-header {
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 5px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.ms-container .ms-selectable li.ms-elem-selectable,
.ms-container .ms-selection li.ms-elem-selection {
    padding: 7px 10px;
}