<?php namespace app;

class conf{
  # database
  const db_host = 'localhost';
  const db_name = '';
  const db_user = '';
  const db_password = '';
  # site
  const host = 'rcmp.local';
  const auth_salt = '0123456789';
  const status = 'production';
  const doctrine_proxy_path = 'cache/proxy/';
  # mail
  const smtp_server = 'smtp.yandex.ru';
  const smtp_port = 465;
  const smtp_encryption = 'ssl';
  const smtp_user = 'yourmail@yandex.ru';
  const smtp_password = 'password';
}